<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div>
      <ul>
        <li class="image">
          <ion-img class="mainIcon" src="../../assets/icon/favicon.png">
          </ion-img>
        </li>
        <li class="titulo">
          <ion-title>
            Eco-Move
          </ion-title>
        </li>
        <ion-button class="bLogOut" (click)="logout()">Cerrar Sesión</ion-button>
      </ul>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Hola!</ion-card-subtitle>
      <ion-card-title>Bienvenido a EcoMove</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        La manera más ecológica de desplazarte por tu ciudad, sin emisiones y al mejor precio!
        Écha un vistazo a nuestra gama de E-Scooters y déjate sorprender.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="profile-card">
    <ion-card-header>
      <ion-card-subtitle>Editar tu perfil</ion-card-subtitle>
      <ion-card-title>Aquí puedes editar tu perfil</ion-card-title>
      <ion-list>
        <ion-avatar>
          <img [src]="imageUrl" target="_blank">
        </ion-avatar>
        <p>Cambiar foto desde:</p>
        <ion-button (click)="openGallery()">Galería</ion-button>
        <ion-button (click)="openCamera()">Cámara</ion-button>
      </ion-list>
    </ion-card-header>
    <ion-card-content>
      <ion-image></ion-image>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>

    </ion-list-header>
  </ion-list>

  {{misaludo}}
  <ion-label>{{"hello" |translate}}</ion-label>
  <h1>{{"close" | translate}}</h1>
  <ion-button (click)=cambioIngles()>Cambio a ingles</ion-button>
  <ion-button (click)=cambioEspanol()>Cambio a Español</ion-button>
</ion-content>