.welcome-card {
  max-height: 35vh;
  overflow: hidden;
  background-color:#76BA1B;
}
.mainIcon{
  block-size: 30px;   
}
.titulo{
  display:inline-block;
  font-size: 1.5em;
  text-align: right;
  line-height: 1.22;
  float:left;
  vertical-align:bottom;
}
.image{
  display:inline-block;
  padding: .2em;
  line-height: 1.22;
  float:left;
  vertical-align:bottom;
}
.bLogOut{
  text-align: right;
}